<div>
    <div class="flex flex-row justify-center">
        <div class="basis-3/4 my-9">
            <div class="flex flex-row justify-center">
                <div class="basis-1/3 bg-amber-300 h-[300px]"></div>
                <div class="basis-2/3">
                    About me
                    My name is "Varicha" but you can call me "Boss".
                    I work as a Web Developer around for 4 years.
                    
                    I'm an Introvert. Sometimes I like to play games with my friends and Sometimes I quietly listen to music.
                    It is so paradoxical. when I am available I have 2 ways to go. the first one is playing a game with friends.
                    and another one is reading a book or article that improves me, such as technical or my life.

                    for Interview -------
                    my responsibility is create and develop web application
                    according to design or requirement. I have experience in frontend framework are VueJS
                    Angular and currently I using NuxtJS.
                    for backend I have experience in NodeJS such as Express and NestJS.
                    
                    I have my personal project for try to do something new that I'm interesting.
                    for public in push to github.

                    For now I'm interesting in a new thing that can improve myself.
                    such as security, performance, clean code, design pattern and algolithm.
                    I want to know all of this but It need more time to learn. I got it.
                    
                    About my pros and cons
                    pros ------
                    I think my pros is.. I like to learn a new thing and have question every time.
                    that mean if I don't understand something I will find the answer.
                    
                    cons ------
                    I think my cons is take time so long if I cannot find the solution or the answer
                    and I'm not confidence when I have to speak English with stranger. I need to fix it actually.
                    I can talk when I feel comfortable.
                    
                </div>
            </div>
        </div>
    </div>
</div>
