<div>
    <div class="flex">
        <div class="basis-2/3 w-full flex items-center justify-center">
            <div>
                <div class="text-2xl font-bold">H E L L O . .</div>
                <div class="text-[50px] font-bold">I'm Varicha Auccanit</div>
                <div class="bg-amber-300 w-full h-[10px] rounded-md"></div>
                <div class="bg-amber-500 w-9/12 h-[5px] rounded-md"></div>
            </div>
        </div>
        <div class="basis-1/3 bg-amber-300 w-full h-[500px] flex items-end">
            <!-- <img src="/assets/images/unknown.png" alt="" class="w-[400px] ml-[-150px]"> -->
            <div class="border-[40px] border-black bg-transparent ml-[-150px] w-[250px] h-[350px]"></div>
        </div>
    </div>
</div>